<div id="score_{{ score.Id }}"> <a class="flex justify-center mb-0" href="/score?id={{ score.Id }}" rel="noopener noreferrer">
	<div class="flex backdrop--light hover:bg-pink-900 h-16 rounded justify-between m-4 w-5/6 mb-1 mt-1">
		<div class="flex flex-col grade-rank-container rounded justify-evenly w-1/6">
			<div class="flex justify-center">
				<p class="text--gray">{{ score.Status }}</p>
			</div>
			<div class="flex justify-center">
				<img src="{{ score.Grade }}.png" alt="{{ score.Grade }}" class="w-20">
            </div>
		</div>
		<div class="backdrop--dark icon rounded-lg flex-nowrap">
			<img src="{{ score.Cover }}" class="w-16 h-16" alt="?">
        </div>

		<div class="flex flex-col rounded justify-evenly scoreinfo-container">
			<div>
				<p class="text-white whitespace-nowrap overflow-hidden">{{ score.OsuFilename }}</p>
			</div>
			<div>
				<p class="text-white whitespace-nowrap overflow-hidden">{{ score.ScoreValue }} / {{ score.Combo }} ({{ score.MaxCombo }}) {{ score.ModsString }}</p>
			</div>
			<div class="flex">
				<p class="text--dark--yellow whitespace-nowrap overflow-hidden">{{ score.Version }}</p>
				<p class="text--gray ml-4 whitespace-nowrap overflow-hidden">{{ score.Date }} ({{ score.PlayType }})</p>
			</div>
		</div>

		<div class="flex acc-container">
			<div class="flex flex-col justify-evenly justify-self-end rounded w-1/4 ml-3">
				<div>
					<p class="text--yellow">{{ score.Acc | round: 2 }}%</p>
				</div>
				<div class="flex">
					<p class="text-white">{</p>
					<p class="text-blue-500">{{ score.Hit300 }}</p>
					<p class="text-white">,</p>
					<p class="text-green-500">{{ score.Hit100 }}</p>
					<p class="text-white">,</p>
					<p class="text--orange">{{ score.Hit50 }}</p>
					<p class="text-white">,</p>
					<p class="text-red-600">{{ score.HitMiss }}</p>
					<p class="text-white">}</p>
				</div>
			</div>
		</div>

		<div class="flex flex-col justify-evenly rounded backdrop--medium--light w-1/6 pp-container">
			<div class="flex justify-center">
				<p class="text--pink">{{ score.PP }}pp</p>
			</div>
			<div class="flex justify-center">
				<p class="text--pink--dark justify-self-center">({{ score.FCPP }}pp)</p>
			</div>
		</div>
	</div>
</a> </div>