 <!-- Settings button -->
 <div class="fixed top-0 right-0 z-40">
     <button id="settingsButton" class="text-white rounded-full p-3 z-30 shadow-lg mr-4 mt-4 backdrop--light">
         <i class="fa-solid fa-pen" style="color: #ffffff;"></i>
     </button>
 </div>

 <!-- Settings panel (initially hidden) -->
<form id="myForm" hx-post="/api/save" hx-target="#target">
     <div id="settingsPanel" class="fixed top-24 right-5 transform z-30 rounded-lg scale-0 transition-transform duration-300 ease-in-out text-white text backdrop--dark p-4">
         <i class="fas fa-info-circle ml-2 text-blue-500 cursor-pointer hover:text-blue-700 top-0 right-0" title="Add informative text!"></i>

         <span id="target"></span>
         <h2 class="text-xl text-center font-semibold mb-4">Settings</h2>

         <!-- Osu!folder -->
         <div class="flex mb-3">
             <label for="textInput3" class="w-1/3">Osu!folder:</label>
             <input name="osufolder" type="text" placeholder="D://osu!" value="" class="w-full border rounded px-2 py-1 backdrop--light">
         </div>

         <!-- Song!folder -->
         <div class="flex mb-3">
             <label for="textInput3" class="w-1/3">Song!folder:</label>
             <input type="text" name="songfolder" placeholder="C://osu!" value="" class="w-full border rounded px-2 py-1 backdrop--light">
         </div>

         <!-- Toggle 1 -->
         <div class="flex items-center justify-between mb-3">
             <span title="Use Local config to set custom: Name, Rank, Banner, Avatar... (in case you're banned, for example)">Local config:</span>
             <label class="switch">
                 {% if config.Local contains "True" %}
                 <input name="localconfig" type="checkbox" id="localsettingstoggle" onchange="toggleLocalConfigMenu()" checked>
                 {% else %}
                 <input name="localconfig" type="checkbox" id="localsettingstoggle" onchange="toggleLocalConfigMenu()">
                 {% endif %}
                 <span class="slider round"></span>
             </label>
         </div>

         <!-- Menu to open -->
        {% if config.Local contains "True" %}
        <div class="local-config-menu ">
        {% else %}
        <div class="local-config-menu hidden">
        {% endif %}
             <!-- Add your menu content here -->
             <p title="Reload the Page after Saving">Customize this Page.</p>

             <div class="flex mb-3">
                 <label for="textInput3" class="w-1/3">Username:</label>
                 <input name="username" type="text" id="username_input" placeholder="cookieze" value="{{ config.username }}" class="w-full border rounded px-2 py-1 backdrop--light">
             </div>

             <div class="flex mb-3">
                 <label for="textInput3" class="w-1/3">Rank:</label>
                 <input name="rank" type="number" id="rank_input" placeholder="1" value="{{ config.rank }}" class="w-full border rounded px-2 py-1 backdrop--light">
             </div>

             <div class="flex mb-3">
                 <label for="textInput3" class="w-1/3">Country Rank:</label>
                 <input name="countryrank" type="number" id="country_rank" placeholder="Unknown" value="{{ config.country_rank }}" class="w-full border rounded px-2 py-1 backdrop--light">
             </div>

              <div class="flex mb-3">
                  <label for="textInput3" class="w-1/3">Country:</label>
                  <input name="country" type="text" id="country_input" placeholder="Unknown" value="{{ config.country }}" class="w-full border rounded px-2 py-1 backdrop--light">
              </div>

              <div class="flex mb-3">
                  <label for="textInput3" class="w-1/3">Country Code:</label>
                  <input name="countrycode" type="text" id="country_code" placeholder="Unknown" value="{{ config.country_code }}" class="w-full border rounded px-2 py-1 backdrop--light">
              </div>

             <div class="flex mb-3">
                 <label for="textInput3" class="w-1/3">Avatar:</label>
                 <input name="avatarurl" type="text" id="avatarurl_input" placeholder="https://image.stern.de/8470686/t/zB/v2/w960/r1.7778/-/trump-als-clown.jpg" value="{{ config.avatar_url }}" class="w-full border rounded px-2 py-1 backdrop--light">
             </div>

             <div class="flex mb-3">
                 <label for="textInput3" class="w-1/3">Cover:</label>
                 <input name="coverurl" type="text" id="coverurl_input" placeholder="https://i.gifer.com/origin/ec/ecd5961f42cedb3f4c6715fbddd39dc4_w200.webp" value="{{ config.cover_url }}" class="w-full border rounded px-2 py-1 backdrop--light">
             </div>

             <div class="flex mb-3">
                 <label for="textInput3" class="w-1/3">Port</label>
                 <input name="port" type="text" id="port_input" placeholder="42069" value="{{ config.port }}" class="w-full border rounded px-2 py-1 backdrop--light">
             </div>
         </div>

         <!-- Toggle 2 -->
         <div class="flex items-center justify-between mb-3">
             <span>Livestatusbar:</span>
             <label class="switch">
                 <input name="statusbar" type="checkbox" id="livestatusbartoggle">
                 <span class="slider round"></span>
             </label>
         </div>

            <div class="flex mb-3">
              <label for="textInput3" class="w-1/3">Mode:</label>
              <input name="mode" type="text" placeholder="https://i.gifer.com/origin/ec/ecd5961f42cedb3f4c6715fbddd39dc4_w200.webp" value="{{ config.mode }}" class="w-full border rounded px-2 py-1 backdrop--light">
          </div>

         <!-- Text Input 3 -->
         <div class="flex mb-3">
             <label for="userid" class="w-1/3">Userid:</label>
             <input name="userid" type="number" value="{{ config.userid }}" palceholder="" class="w-full border rounded px-2 py-1 backdrop--light">
         </div>

         <!-- Save button -->
         <div class="flex justify-center">
             <button type="submit" id="saveButton" class="bg-blue-500 hover:bg-blue-700 text-white font-semibold py-2 px-4 rounded-full" onclick="">
                 Save
             </button>
         </div>
    </div>
</form>
